 
/.gradle/
/.settings/
/.idea/
/.run/
/bin/
/build/
/data/
/eclipse/
/gradle/
/jars/
/lib/
/out/
/run/
/source/
/Unused Lib/
/.classpath
/.directory
/.project
/CREDITS-fml.txt
/forge-1.7.10-10.13.4.1566-1.7.10-changelog.txt
/gradlew
/gradlew.sh
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/mod.zip
/mixin-0.8-SNAPSHOT.jar
/BON2-2.5.1-CUSTOM-all.jar
/bon.sh
/decomp.sh
/layout.json